* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 35px;
}

a {
  text-decoration: none;
  color: gray;
  transition: color 0.15s;
}

a:link {
  color: gray;
}

a:visited {
  color: gray;
}

a:hover {
  color: white;
  border-color: white;
}

a:active {
  color: white;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(40, 40, 40);
  color: gray;
}

.bodyContainer {
  width: 70%;
  height: auto;
  display: inline-block;
  margin: 2% 0 1% 0;
  border: 0px;
}

.headerContainer {
  position: fixed;
  background-color: rgb(40, 40, 40);
  width: 100%;
  display: flex;
  margin: auto;
  padding: 1% 15.4% 1% 15.4%;
  z-index: 10;
}

.logoContainer {
  display: flex;
  /* height: 100%; */
  justify-content: left;
  align-items: center;
  flex: 1;
}

.logo {
  float: left;
  height: 100%;
  width: auto;
}

.menuContainer {
  display: flex;
  justify-content: right;
  align-items: center;
}

.menuButton {
  display: flex;
  justify-content: left;
  font-size: 20px;
  background-color: transparent;
  margin: 10px 0px 0px 30px;
  padding: 0 0 6px 0;
  color: gray;
  border-style: solid;
  border-color: transparent;
  border-width: 0px 0px 1px 0px;
  width: auto;
  float: right;
  transition: border-color 0.15s, color 0.15s, padding 0.15s;
}

.menuButton:link {
  color: gray;
}

.menuButton:visited {
  color: gray;
}

.menuButton:hover {
  color: white;
  border-color: white;
  padding: 0 0 2px 0;
}

.menuButton:active {
  color: white;
}
.HomeGalleryContainer {
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-direction: column;
}

.HomeGalleryRow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.HomeGalleryEntry {
  display: flex;
  line-height: 1.5;
  background-color: black;
  overflow: hidden;
  z-index: 0;
  margin: 0.75%;
}

.HomeGalleryImage,
.HomeGalleryVideo {
  margin: 0 0 0 -100%;
  width: 100%;
  opacity: 1;
  z-index: 1;
  transition: opacity 0.15s;
}

.HomeGalleryEntry .HomeGalleryVideo:hover {
  opacity: 0.2;
}

.HomeGalleryEntry .HomeGalleryEntryDescriptionDiv {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  width: 100%;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.15s;
}

.HomeGalleryEntry .HomeGalleryEntryDescriptionDiv:hover {
  opacity: 1;
}

.HomeGalleryEntry .HomeGalleryEntryDescriptionDiv:hover ~ .HomeGalleryVideo {
  opacity: 0.2;
}

.HomeGalleryEntry .HomeGalleryEntryDescriptionDiv:hover ~ .HomeGalleryImage {
  opacity: 0.2;
}

#HomeGalleryEntryR1C1 {
  flex: 1;
}

#HomeGalleryEntryR2C1 {
  flex: 1;
  align-self: stretch;
}

#HomeGalleryEntryR2C2 {
  flex: 1.5;
}

#HomeGalleryEntryR3C1 {
  flex: 1;
}

#HomeGalleryEntryR3C2 {
  flex: 1;
}

#HomeGalleryEntryR3C3 {
  flex: 1;
}

.moreButton {
  font-size: 20px;
  background-color: transparent;
  border: 2px solid gray;
  color: gray;
  padding: 10px 50px 10px 50px;
  margin: 2.5% 0% 0% 0%;
  transition: border 0.15s, color 0.15s;
}

.moreButton:hover {
  color: white;
  border-color: white;
}

.moreButton:active {
  color: white;
}

.Footer {
  font-size: 20px;
  background-color: rgba(25, 25, 25);
  padding: 3% 15.4% 4% 15.4%;
  margin: 3% 0 0% 0;
  display: flex;
  flex-direction: row;
  align-self: stretch;
}

.FooterContact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.FooterCentral {
  flex: 1;
}

.FooterRight {
  flex: 1;
}

.WelcomeText {
  margin: 4.5% 0 2% 0;
  line-height: 1.5;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.WelcomeText h1 {
  font-size: 43px;
}

.WelcomeText h2 {
  font-size: 30px;
}

.WelcomeText a {
  text-underline-position: under;
  text-decoration: underline;
}

.FooterCopyright {
  display: flex;
  flex: 1;
  margin: 1%;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.SocialMediaIcon {
  opacity: 0.4;
  margin: 1%;
}

/* specific for projects page */

.ProjectsGalleryContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.ProjectsGalleryRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ProjectsGalleryEntry {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  background-color: black;
  margin: 0.75%;
  flex: 1;
  overflow: hidden;
  z-index: 0;
}

.ProjectsGalleryEntry img {
  margin: 0 0 0 -100%;
  width: 100%;
  opacity: 1;
  z-index: 1;
  transition: opacity 0.15s;
}

.ProjectsGalleryEntry video {
  margin: 0 0 0 -100%;
  width: 100%;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.15s;
}

.ProjectsGalleryEntryDescriptionDiv {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  width: 100%;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.15s;
}

.ProjectsGalleryEntryDescriptionDiv:hover {
  opacity: 1;
}

.ProjectsGalleryEntryDescriptionDiv:hover ~ .ProjectsGalleryVideo {
  opacity: 0.1;
}

.ProjectsGalleryEntryDescriptionDiv:hover ~ .ProjectsGalleryImage {
  opacity: 0.1;
}
