* {
  padding: 0px;
  margin: 0px;
}

body {
  text-align: center;
  background-color: rgb(50, 50, 50);
  font: 30px Arial, Helvetica, sans-serif;
  color: gray;
}

.bodyContainer {
  width: 70%;
  height: auto;
  /* background-color: rgb(50, 50, 50); */
  display: inline-block;
  margin: 1%;
  border: 0px;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* -ms-transform: translateX(-50%) translateY(-50%); */
  /* -webkit-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
}

.headerContainer {
  width: 100%;
  height: 100px;
  display: inline-block;
  box-sizing: border-box;
  background-color: rgb(50, 50, 50);
  margin: 0% 0% 1% 0%;
}

.logoContainer {
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: 50%;
}

.logo {
  float: left;
  height: 100%;
  width: auto;
}

.menuContainer {
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  float: right;
  height: 100%;
  width: 50%;
}

.menuEntry {
  height: 100%;
  width: auto;
  float: right;
  padding: 10px 10px 10px 10px;
}

.menuEntry a {
  text-decoration: none;
}

.menuEntry a:link {
  color: gray;
  text-decoration: none;
}

.menuEntry a:visited {
  color: gray;
  text-decoration: none;
}

.menuEntry a:hover {
  color: white;
  text-decoration: none;
}

.menuEntry a:active {
  color: white;
  text-decoration: none;
}

.galleryContainer {
  /* padding: 0px 0px 0px 0px; */
}

.galleryContainer .galleryEntry {
  box-sizing: border-box;
  float: left;
  height: 500px;

  background-color: black;
  overflow: hidden;
}

.galleryEntry .galleryVideo {
  position: relative;
  top: -100px;
  width: 100%;
  height: auto;
}

.galleryEntry .galleryImage {
  position: relative;
  top: -200px;
  width: 100%;
  height: auto;
}

#galleryEntry1stRow1 {
  width: 100%;
  margin: 0% 0% 1% 0%;
}

#galleryEntry2ndRow1 {
  width: 39%;
  margin: 0% 1% 1% 0%;
}

#galleryEntry2ndRow2 {
  width: 60%;
  margin: 0% 0% 1% 0%;
}

#galleryEntry3rdRow1 {
  width: 32.6666%;
  margin: 0% 1% 1% 0%;
}

#galleryEntry3rdRow2 {
  width: 32.6666%;
  margin: 0% 1% 1% 0%;
}

#galleryEntry3rdRow3 {
  width: 32.6666%;
  margin: 0% 0% 1% 0%;
}
